* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-align: center;
}
.App {
  text-align: center;
}
.outerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subtitle {
  margin: 10px;
}

.description {
  margin: 30px;
}

.downloadLink {
  border: gray dashed;
  background-color: white;
  margin: 30px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 20px;
  
}
.download {
  text-decoration: none;
  color: white;
  font-size: 150%;
  vertical-align: text-bottom;
  display: flex;
  /* justify-content: center; */
}
.contained {
  flex: 1;
}
.MuiSvgIcon-root {
  width: 50px;
  height: 20px;
  display: flex;
}

img {
  margin-top: 10px;
  width: 60%;
}

.box {
  align-items: center;
  box-shadow: 0px 0px 15px gray;
  background-color: rgb(241, 248, 246);
  width: 60%;
  margin: 30px 30px;
  border-radius: 5px 5px 5px 5px; 
  border: gray solid; 
}

Button {
  text-transform: none;
  width: 100vw;
  /* margin: 50px 50px; */
}

